.dvdContainer{
    float: right;
    width: 25%;
}

buttonContainer{
    display: none;
}

img{
    width: 45%;
}

.dvdGallery{
    content: "";
    clear: both;
    display: table;
}